$icon-font-path: "../fonts/bootstrap/";

$font-size-base: 16px;
$font-family-sans-serif:  "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
$line-height-base: 1.5;
$titleColor: #fff;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.btn {
    border-radius: 0;
}

.btn.disabled {
    color: #ccc;
}

.container-fluid {
    padding: 0;
}

#main {
    margin: 10px;
    background-color: white;
    border: solid black 1px;
}

.search-button {
    margin-right: 30px;
}

a.navbar-brand, .search-button a {
    color: black;
}

.year, .day {
    .btn-group > .btn:first-child, .btn-group > .btn:last-child {
        border-left: 0;
        border-right: 0;
    }
}

.photo {
    .navbar {
        border-bottom: solid black 1px;
    }
}

.root {
    .header {
        border-bottom: solid black 1px;
    }

    section.col-md-9 {
        padding-top: 15px;
    }
}

.navbar {
    border-radius: 0;
	margin-bottom: 0;
}

.navbar-brand {
	font-size: 28px;
	line-height: 32px;
}

.photo .header.navbar, .navbar-right, .nav-button-label {
	/* portrait phones and below */
	@media all and (max-width: 768px) {
		display: none;
	}
}

.container, .container-fluid, .col-md-3, .col-md-9 {
	/* portrait phones and below */
	@media all and (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.firsts {
	display: inline-block;
	width: 12em;
	vertical-align: top;
	margin-right: 1em;
	padding: 1em;
	background: #EEE;
    border-right: solid black 1px;
	@media (max-width: 992px) {
		display: none;
	}
}

.latest {
    border-right: solid black 1px;
    h2 {
        font-size: $font-size-base;
        font-weight: bold;
        text-align: center;
    }
}

.imagepage {
	.btn-group > .btn:first-child {
		border-bottom-left-radius: 0;
	}
	.btn-group > .btn:last-child:not(:first-child) {
		border-bottom-right-radius: 0;
	}
}

.month {
    display: block;
    margin: 1em;

    & > h1 {
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.3em 0.4em;
        width: 100%;
    }
}

.thumbnail {
	display: inline-block;
	border: 0 none;
	box-shadow: none;
	vertical-align: top;
	margin-bottom: 0;
	background-color: transparent;
    position: relative;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail a.thumb-link {
    display: block
}

.thumbnail .thumb-caption {
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: 4px;
	display: block;
}

.thumbnail .thumb-summary {
    text-align: center;
}

.thumbnail .glyphicon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

    &:hover {
        color: yellow;
    }
}

.thumbnail.selected .glyphicon {
    color: yellow;
}

.photo-body {
	margin-top: 20px;
}

.caption {
    margin-bottom: .7em;
}

.weekalbumtype .caption {
    max-width: 670px;
    padding-right: 10px;
    padding-left: 10px;
}

.photo .caption {
    // portrait phones and below
    @media all and (max-width: 768px) {
        padding-left: .7em;
    }
}

.caption p {
    margin-top: .7em;
}

/* For browsers that don't meet the requirements */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.editStatusMsg,  .editControls input {
    margin-left: 1em;
}

/**
 * Keep the years in a separate easy-to-maintain file.
 */
@import "years";
