$icon-font-path: "../fonts/bootstrap/";

$font-size-base: 16px;
$font-family-sans-serif:  "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
$line-height-base: 1.5;
$titleColor: #fff;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

.btn.disabled {
    color: #ccc;
}

img.selected {
    border: 3px dashed blue;
}

.navbar {
	margin-bottom: 14px;
}

.navbar-brand {
	font-size: 28px;
	line-height: 32px;
}

.header.navbar, .navbar-right, .nav-button-label {
	/* portrait phones and below */
	@media all and (max-width: 768px) {
		display: none;
	}
}

.container, .container-fluid, .col-md-3, .col-md-9 {
	/* portrait phones and below */
	@media all and (max-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.firsts {
	display: inline-block;
	width: 12em;
	vertical-align: top;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	margin-top: 1em;
	margin-right: 1em;
	padding: 1em;
	background: #EEE;
	@media (max-width: 992px) {
		display: none;
	}
}

.latest {
	background-color: cornsilk;
}

.imagepage {
	.btn-group > .btn:first-child {
		border-bottom-left-radius: 0;
	}
	.btn-group > .btn:last-child:not(:first-child) {
		border-bottom-right-radius: 0;
	}
}

.month {
    display: block;
    margin: 1em;

    & > h1 {
        font-weight: bold;
        font-size: 1.3em;
        background: #EEE;
        border-radius: 1em;
        padding: 0.3em 1em;
        width: 100%;
    }
}

.thumbnail {
	display: inline-block;
	border: 0 none;
	box-shadow: none;
	vertical-align: top;
	margin-bottom: 0;
	background-color: transparent;
    position: relative;
}

.thumbnail a {
    text-decoration: none;
}

.thumbnail .thumb-caption {
	color: black;
	text-decoration: none;
	text-align: center;
	margin-top: 4px;
	display: block;
}

.thumbnail .glyphicon {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.photo-body {
	margin-top: 20px;
}

.caption p {
	margin-top: .7em;
}

/* For browsers that don't meet the requirements */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.editStatusMsg {
    padding-left: 1em;
}

/**
 * Keep the years in a separate easy-to-maintain file.
 */
@import "years";
