//
// colors for each year
//

.root, .search, .y2014 {
    background-color: #8d5f5f;

    .header, .month > h1 {
        background-color: #e8ddc7;
    }

    .btn {
        background-color: lighten(#e8ddc7, 10%);
    }

    .sidebar {
        background-color: #cebfa1;
    }
}

.y2013 {
    background-color: #917d61;

    .header, .month > h1 {
        background-color: #b7c8a4;
    }

    .btn {
        background-color: lighten(#b7c8a4, 20%);
    }

    .firsts {
        background-color: #8a9e75;
    }
}

.y2012 {
    background-color: #973450;

    .header, .month > h1  {
        background-color: #edb79c;
    }

    .btn {
        background-color: lighten(#edb79c, 20%);
    }

    .firsts {
        background-color: #e77f4b;
    }
}

.y2011 {
    background-color: #4d3087;

    .header, .month > h1 {
        background-color: #e0ee83;
    }

    .btn {
        background-color: lighten(#e0ee83, 20%);
    }

    .firsts {
        background-color: #c2d543;
    }
}

.y2010, .y2009 {
    background-color: #3F64EE;

    .header, .month > h1 {
        background-color: #FFE793;
    }

    .btn {
        background-color: lighten(#FFE793, 10%);
    }

    .firsts {
        background-color: #FFD02D;
    }
}

.y2008 {
    background-color: #869e59;

    .header, .month > h1 {
        background-color: #d3e0f1;
    }

    .btn {
        background-color: lighten(#d3e0f1, 10%);
    }

    .firsts {
        background-color: #bbcbe0;
    }
}

.y2006, .y2007 {
    background-color: #3F64EE;

    .header, .month > h1 {
        background-color: #FFE793;
    }

    .btn {
        background-color: lighten(#FFE793, 10%);
    }

    .firsts {
        background-color: #FFD02D;
    }
}

.y2005 {
    background-color: #743a7d;

    .header, .month > h1 {
        background-color: #bde6d8;
    }

    .btn {
        background-color: lighten(#bde6d8, 10%);
    }

    .firsts {
        background-color: #69c7af;
    }
}

.y2003, .y2004 {
    background-color: #99cc33;

    .header, .month > h1 {
        background-color: #E2F8B6;
    }

    .btn {
        background-color: lighten(#E2F8B6, 10%);
    }

    .firsts {
        background-color: #9dc6ef;
    }
}

.y2001, .y2002 {
    background-color: #FF6600;

    .header {
        background-color: #FBEFCE;
    }

    .btn {
        background-color: lighten(#FBEFCE, 5%);
    }

    .firsts {
        background-color: #FF99FF;
    }

    .month > h1 {
        background-color: #FFCCFF;
    }
}

.y1988 {
    background-color: lighten(#E7C983, 10%);

    a.navbar-brand {
        color: darken(#E7C983, 30%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #FFFF8D;
        border-color: darken(#FFDD51, 10%);
    }

    .firsts, .years, .month > h1 {
        border: 4px solid darken(#CE5AFF, 20%);
    }

    .years, .month > h1 {
        background-color: #FF56A2;
    }

    .firsts {
        background-color: #CE5AFF;
    }
}


.y1987 {
    background-color: #DBDDE4;

    a.navbar-brand {
        color: darken(#5D5BEA, 30%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #737CD1;
        border-color: darken(#5D5BEA, 10%);
    }

    .firsts, .years, .month > h1 {
        border: 4px solid #EA00B2;
    }

    .years, .month > h1 {
        background-color: #00DBB7;
    }

    .firsts {
        background-color: #00DBB7;
    }
}

.y1979 {
    background-color: #EAF7BE;

    a.navbar-brand {
        color: #769225;
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #BAE8B1;
        border-color: #2D7F1F;
    }

    .firsts, .years, .month > h1 {
        border: 4px solid #9B9126;
    }

    .years, .month > h1 {
        background-color: #E3D86B;
    }

    .firsts {
        background-color: #FFFAC4;
    }
}

.y1978 {
    background-color: #B4C99B;

    a.navbar-brand {
        color: darken(#9EC392, 30%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #AECB6D;
        border-color: darken(#AECB6D, 10%);
    }

    .firsts, .years, .month > h1 {
        border: 4px solid darken(#5FC4D0, 10%);
    }

    .years, .month > h1 {
        background-color: #69C3DC;
    }

    .firsts {
        background-color: #69C3DC;
    }
}

.y1977 {
    background-color: #A1C3B1;

    a.navbar-brand {
        color: darken(#6DBB96, 30%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #CACEBC;
        border-color: #80A795;
    }

    .firsts, .years, .month > h1 {
        border: 4px solid #80A795;
    }

    .years, .month > h1 {
        background-color: #CACEBC;
    }

    .firsts {
        background-color: #CACEBC;
    }
}

.y1976 {
    background-color: #82A168;

    a.navbar-brand {
        color: darken(#82A168, 30%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #A5C363;
        border-color: #82A168;
    }

    .firsts, .years, .month > h1 {
        border: 4px solid #DB5521;
    }

    .years, .month > h1 {
        background-color: #E38D0A;
    }

    .firsts {
        background-color: #E38D0A;
    }
}

.y1975 {
    background-color: #E1D451;

    a.navbar-brand {
        color: darken(#97BA53, 10%);
        font-weight: bolder;
        font-size: 35px;
    }

    .btn {
        background-color: #A4C45B;
        border-color: #97BA53;
    }

    .firsts, .years, .month > h1 {
        border: 4px solid #ED9A0C;
    }

    .years, .month > h1 {
        background-color: #EBD238;
    }

    .firsts {
        background-color: #EBD238;
    }
}

.y1974 {
    background-color: #E67823;

    .header {

        background-color: #EDD436;
    }

    .month > h1 {
        background-color: #E67823;
    }

    .btn {
        background-color: #FF6600;
    }


    .sidebar {
        background-color: #EEA338;
    }
}

.y1973 {
    background-color: #80412a;

    .header {
        background-color: #FF6600;
    }

    .month > h1 {
        background-color: #FFB400;
    }

    .btn {
        background-color: #FFB400;
    }

    .sidebar {
        background-color: #E53700;
    }
}
