<IfModule pagespeed_module>
    ModPagespeed off
</IfModule>

# Add app cache manifest type so its caching can be controlled below
AddType text/cache-manifest .appcache
AddType font/woff2 .woff2

<IfModule mod_expires.c>
    Header set Cache-Control: "public"
    # Enable expirations
    ExpiresActive On
    # Disable caching of app cache manifest
    ExpiresByType text/cache-manifest "access plus 0 seconds"
    # Fonts
    ExpiresByType font/ttf      "access plus 1 year"
    ExpiresByType font/woff     "access plus 1 year"
    ExpiresByType font/woff2    "access plus 1 year"
    ExpiresByType application/x-font-woff     "access plus 1 year"
    ExpiresByType application/x-font-woff2     "access plus 1 year"
    # Images
    ExpiresByType image/ico "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    # CSS
    ExpiresByType text/css "access 1 year"
    # Javascript
    ExpiresByType application/javascript "access plus 1 year"
</IfModule>
